<!-- <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->


<div style="margin: 100px;">
    <mat-icon>swap_vert</mat-icon>
</div>

<div>
    <span matBadge="3">Hello</span>
</div>
<!-- <div>
    <mat-progress-spinner value="30"></mat-progress-spinner>
</div> -->
<mat-spinner></mat-spinner>